/* ./src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
* {
    box-sizing: border-box;
}

.navelementswrapper {
    width: 38vw;
}

.navbarwrapper,
.navelements {
    height: 9vh;
}

.navelements {
    width: 20vw;
}

.logincomponent {
    font-family: 'Roboto', sans-serif;
    height: 91vh;
}

.headertext {
    font-weight: 500;
}

.loginbuttoncomponent {
    width: 100vw;
}

.groupchatlogo {
    width: 100vw;
}

.loginbutton {
    width: 80vw;
}

.wrapper {
    height: 91vh;
}

.dropdown,
.joinroombutton {
    width: 80vw;
}

.chatwrapper {
    height: 91vh;
}

.coversationwrapper {
    height: 70vh;
    width: 80vw;
}

.inputfield {
    width: 79.5vw;
}

.chatmessages {
    width: 62vw;
}

.chats {
    height: 55vh;
}

.mymodal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    width: 80vw;
    height: 70vh;
}

.myoverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}
.editinginput{
    width: 60vw;
    height: 6vh;
}

@media only screen and (min-width:640px) {
    .loginbutton {
        width: 23vw;
    }
    .dropdown {
        width: 30vw;
    }
    .joinroombutton {
        width: 20vw;
    }
    .coversationwrapper {
        height: 75vh;
        width: 27vw;
    }
    .inputfield {
        width: 26.8vw;
    }
    .chatmessages {
        width: 13vw;
    }
    .chats {
        height: 63vh;
    }
    .mymodal {
        width: 50vw;
        height: 65vh;
    }
    /* scrollbar */
    /* width */
     ::-webkit-scrollbar {
        width: 10px;
    }
    /* Track */
     ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    /* Handle */
     ::-webkit-scrollbar-thumb {
        background: #888;
    }
    /* Handle on hover */
     ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    .editinginput{
        width: 30vw;
    }
    
}