/* ./src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
* {
    box-sizing: border-box;
}

.navelementswrapper {
    width: 38vw;
}

.navbarwrapper,
.navelements {
    height: 9vh;
}

.navelements {
    width: 20vw;
}

.logincomponent {
    font-family: 'Roboto', sans-serif;
    height: 91vh;
}

.headertext {
    font-weight: 500;
}

.loginbuttoncomponent {
    width: 100vw;
}

.groupchatlogo {
    width: 100vw;
}

.loginbutton {
    width: 80vw;
}

.wrapper {
    height: 91vh;
}

.dropdown,
.joinroombutton {
    width: 80vw;
}

.chatwrapper {
    height: 91vh;
}

.coversationwrapper {
    height: 70vh;
    width: 80vw;
}

.inputfield {
    width: 79.5vw;
}

.chatmessages {
    width: 60vw;
}

.chats {
    height: 55vh;
}

@media only screen and (min-width:640px) {
    .loginbutton {
        width: 23vw;
    }
    .dropdown {
        width: 30vw;
    }
    .joinroombutton {
        width: 20vw;
    }
    .coversationwrapper {
        height: 75vh;
        width: 27vw;
    }
    .inputfield {
        width: 26.8vw;
    }
    .chatmessages {
        width: 18vw;
    }
    .chats {
        height: 63vh;
    }
    /* scrollbar */
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }
    /* Track */
     ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    /* Handle */
     ::-webkit-scrollbar-thumb {
        background: #888;
    }
    /* Handle on hover */
     ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}